.title {
    display: flex;
    align-items: flex-start;
    font-weight: 600;
    text-decoration: underline;
    margin: 0 2em 1em;
    
}

.description {
    display: flex;
    align-items: flex-start;
    margin: 0 2em;
    text-align: start;
}

/* .algo-info-container{

} */